.DS_Store
public/font/
node_modules/
sessions/
_server/secret/secret.js
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

trace.out

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
