@import "./define/_constant.scss";
@import "./define/_mixin.scss";

.app-header {
    width: 100%;
    @include flex;
    @include flex-align(center);
    height: $HEADER-HEIGHT;
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0px;
    
    margin-bottom: 0px;
    background: white;
    text-align: left;
    justify-content: space-between;
    //border-bottom: solid 2px #ccc8c8;
    box-shadow: 1px 4px 5px -3px rgba(0,0,0,0.5);

    .h-left {
        @include flex;
        @include flex-align(center);
        img.logo {
            height: $HEADER-HEIGHT;
        }
        .title {
            // font-family: 'Jockey One';
            // text-transform: uppercase;
            // letter-spacing: 1px;
            text-decoration: none;
            font-size: 25px;
            line-height: 20px;
            font-weight: bold;
            color: $COLOR-BLUE;
        }
        .subtitle {
            font-size: 17px;
            opacity: 0.8;
        }
        .title,
        img.logo {
            cursor: pointer;
        }
        .title:hover,
        img.logo:hover {
            opacity: 0.7;
        }
        .title:active,
        img.logo:active {
            opacity: 1;
        }
    }
    .h-right {
        line-height: 15px;
        margin-right: 10px;
    }

    .user-info{
        text-align: right;

        div{
            margin-bottom: 5px; 
        }
        
       .ui-name{
           font-size: 15px;
           font-weight: bold;
           color: $COLOR-BLUE;
       }

       .ui-desc{

       }

    }
}