.pad-left-5{
  padding-left: 5px;
}

.pad-right-5{
  padding-right: 5px;
}

.width-full{
  width: 100%;
}

.height-full{
  height: 100%;
}

.right-align{
  text-align: right;
}
.left-align{
  text-align: left;
}