/* Color */

$COLOR-RED-LIGHT: #FFD4D6;
$COLOR-RED: #EF272F;
$COLOR-RED-DARK: #82180d;
$COLOR-BLUE-LIGHT: #a4d4ff;
$COLOR-BLUE: #0154A1;
$COLOR-BLUE-DARK: #031533;
$COLOR-GRAY-LIGHT: #e9e9e9;
$COLOR-YELLOW: #FADA0C;
// color yg jpn nak
$FF_BLUE_BACK: rgb(216, 237, 247);
$FF_BLUE_TEXT: rgb(49, 112, 155);
$FF_BLUE_BORDER: #ccc;
$FF_RED_BORDER: #FF406F;
$COLOR-GREEN: rgb(66, 163, 10);
/* Dimension */

$FF_GRAY_BACK: rgb(230, 230, 230);
$FF_GRAY_TEXT: rgb(0, 0, 0);

$HEADER-HEIGHT: 90px;
$LEFT-WIDTH: 300px;




$COLOR_DARKER : #333D49;
$COLOR_DARKER_TEXT : #8292ad;
$COLOR_DARKEST : #1a202d;
$COLOR_TITLE : #6f7e95;
$COLOR_TITLE_UNDERLINE : #cdd5c9;

$COLOR_BACKGROUND : #f7fcf7;
$COLOR_DARK : #333333;
$COLOR_HEADER : #333333;
$COLOR_HEADER_TITLE :#6cd638;
$COLOR_HEADER_SUBTITLE : #a8a8a8;
$COLOR_HEADER_LINK : #a8a8a8;
$COLOR_HEADER_LINK_ACTIVE : #6cd638;
